body {
        padding: 0px;
        width: 100%;
        height: 100%;
        margin: auto;
        background-image: url(/Images/background1.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        font-family: pristina;
}

#pr1 {
        font-size: 18px;

}

#Me {
        width: 90px;

}


#header {
        width: 100%;
        height: 110px;
        text-align: center;

}

#wrapper {
        width: 700px;
        height: auto;
        margin: 0px auto
}

#main {
        height: 300px;
}

#footer{
        height: 50px;
        text-align: center;
        font-size: 20px;
}

#wrapper #main  img {
        width: 690px;
        height: 300px;
}

#header #nav {
        margin-top: -50px;
        margin-left: 400px;
}

#header #nav ul li {
        list-style-type: none;
        display: inline;
        padding: 3px 8px 3px 8px;
        font-size: 21px;
        font-family: pristina;
        border: solid violet 1px;
}

#header #nav a{
        text-decoration: none;
        color: black;
}

<!--Has to be in order-->
#header #nav ul li a:link{
        color: black;
}

#header #nav ul li a:visited{
        color: rgb(38, 0, 255);
}

#header #nav ul li a:hover{
        color: yellow;
}

#header #nav ul li a:active{
        color: rgb(255, 0, 115);
}

#header #logo img {
        margin-top: 20px;
        margin-left: -600px;
}

#wrapper #table1 {
        width: 700px;
        height: 250px;
        table-layout: fixed;
}

#wrapper #table1 td{
        background: rgba(128, 128, 128, 0.897);
        font-size: 15px;
        padding: 5px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        -webkit-box-shadow: 0px 0px 10px;
}

#wrapper #table1 td h3 {
        text-align: center;
        font-family: pristina;
        font-size: 25px;
}